/* Colors */
$background-color: #e6e6e6;
$text-color: #8c4303;
$navbar-bg-color: #000;
$navbar-text-color: #fff;
$offcanvas-header-color: #000;
$footer-box-color: #000;
$footer-box-text-color: #fff;
$title-gallery-color: #8c4303;
$animate-animated-color: #8c4303;

/*transform */
$mb-3-transform-translate-x: 4rem;
$mb-3-transform-translate-y: 0rem;
$aboutme-img-transform-translate-x: 900px;
$aboutme-img-transform-translate-y: 100px;
$aboutme-p-transform-translate-x: 20px;
$aboutme-p-transform-translate-y: -3rem;
$button-transform-translate-x: -3rem;
$button-transform-translate-y: 2.6rem;
$textarea-transform-translate-y: 0.8rem;
$tittle-inspo-transform-translate-y: 80px;
$inspo-box-transform-translate-x: -4rem;
$inspo-box-img-transform-translate-x: -100px;
$inspo-box-img-transform-translate-y: 80px;
$history1-transform-translate-x: 30rem;

/* size- width - height - margin */
$gallery-container-img-max-width: 16rem;
$gallery-container-img-max-height: 16rem;
$gallery-container-img-margin: 1rem;
$gallery-container-img-margin-bottom: 7rem;
$title-gallery-margin-top: 5rem;
$title-gallery-letter-spacing: 0.4rem;
$animate-animated-font-size: 2.5rem;
$animate-animated-margin-bottom: 1rem;
$subtitle-font-size: 1.8rem;
$subtitle-margin-bottom: 1rem;
$content-sub1-font-size: 1.2rem;
$content-sub1-line-height: 1.6;
$content-sub1-margin-bottom: 1.5rem;
$history-box-width:97%;
$history-box-margin-top:5rem;
$history-box-padding: 1rem;
$history1-max-width:20rem;
$history1-height: auto;
$history1-margin-bottom:3rem;

/*deco and more*/
$title-gallery-text-decoration: underline;
$content-sub1-text-align: center;
$subtitle-text-decoration: underline #8c4303;
$subtitle-text-align: center;